<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A.B.C.</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Edit Your Car</h1>
  <form action="/cars/<%= car._id %>" method="POST">
    <label>Year:
      <input type="number" name="year" value='<%= car.year %>'>
    </label><br>
    <label>Make:
      <input type="text" name="make" value='<%= car.make %>'>
    </label><br>
    <label>Model:
      <input type="text" name="model" value='<%= car.model %>'>
    </label><br>
    <label>Color:
      <input type="text" name="color" value='<%= car.color %>'>
    </label><br>
    <label>Type of Vehicle:
      <select name="typeOfVehicle">
        <option value="<%= car.typeOfVehicle %>" disabled selected hidden><%= car.typeOfVehicle %></option>
        <option value="Coupe">Coupe</option>
        <option value="Sedan">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="Truck">Truck</option>
        <option value="Van">Van</option>
      </select>
    </label>
    <label><br>
    </label>
    <button type="submit">Save</button>

  </form>
  <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/client">Cancel</a>
</body>

</html>